/* Estilos base (desktop) */
.criar-ficha {
  display: flex;
  overflow: hidden;
}

.criacao-ficha {
  width: 340px;
  height: 100vh;
  overflow-y: auto;
  background: #222;
  color: white;
}

.informacoes-personagem {
  flex-grow: 1;
  padding: 20px;
  color: white;
  overflow-y: auto;
}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 15px;
  width: 100%;
  background-color: #333;
  padding: 10px;
  z-index: 1000;
}

.hamburger-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.menu-options {
  display: flex;
  flex-direction: column;
  background-color: #444;
  margin-top: 100px;
  padding: 10px;
  border-radius: 5px;
}

.menu-options button {
  background: none;
  border: none;
  color: white;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.menu-options button:hover {
  background-color: #555;
}

/* Estilos para celular (max-width: 768px) */
@media (max-width: 768px) {

  .menu-abas-criarFicha {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3b3f44;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-top: 55px;
  }

  .criar-ficha {
    flex-direction: column;
  }

  .criacao-ficha {
    width: 100%;
    height: auto;
    padding: 5px;
  }

  .informacoes-personagem {
    padding: 5px;
  }

  .menu-container {
    height: 40px;
    padding: 5px;
  }

  .hamburger-button {
    font-size: 20px;
  }

  .menu-options {
    margin-top: 100px;
    padding: 5px;
  }
}