.informacoes-personagem {
  position: absolute; /* Para posicionar livremente */
  top: 15px; /* Cola no topo */
  left: 295px; /* Ajuste fino para colar na criação de ficha (pode precisar ajustar) */
  margin-left: 0px;
  background-color: #2c2f33;
  padding: 10px;
  border-radius: 8px;
  max-width: 500px;
  max-height: 200px;
  transform: scale(0.8);
}

.campos-gerais {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.campo input {
  background-color: #3b3f44;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.botao-nivel {
  background-color: #7289da;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-info-personagem {
  position: absolute;
  background: #23272a;
  padding: 10px;
  border-radius: 8px;
  top: 50px;
}

.popup-content-info-personagem {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.popup-content-info-personagem button {
  background-color: #4f545c;
  color: white;
  border: none;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.atributos {
  width: 100%;
  text-align: center;
}

.atributos h4 {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.atributos-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.atributo {
  background: #3b3f44;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  font-size: 14px;
}

.atributo-divisoria {
  height: 2px;
  background-color: white;
  margin: 2px 0;
}

.vida-ca-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.ca-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 28px;
}

.ca {
  background: #3b3f44;
  padding: 5px;
  border-radius: 5px;
}

.ca-detalhes {
  font-size: 12px;
  margin-left: 5px;
}

.vida {
  flex-grow: 1;
}

.vida h4 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.barra-vida {
  width: 100%;
  margin-top: 8px;
  height: 25px;
  background-color: #3b3f44;
  border-radius: 25px;
  overflow: hidden;
}

.vida-atual {
  background-color: red;
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 5px;
}
